@media only screen and (max-width: 991px) {
  /* =========  Header Section ========= */
  #header-section .navbar-toggler {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50% !important;
    padding: 0 !important;
    background-color: #a37fdb;
  }
  #header-section .navbar-toggler .fa-bars {
    color: #ffffff;
  }
  #header-section .navbar .collapse {
    display: none !important;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 9999999999999999999999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 30px !important;
  }
  #header-section .navbar .collapse .hide-menu {
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    border-radius: 50% !important;
    padding: 0 !important;
  }
  #header-section .navbar .collapse .navbar-nav {
    margin-top: 30px !important;
  }
  #header-section .navbar .collapse .navbar-nav .nav-item {
    margin: 0 10px;
  }
  #header-section .navbar .collapse .navbar-nav .nav-item .nav-link::after {
    height: 0;
  }
  #header-section .navbar .collapse .navbar-button .button {
    margin-top: 10px;
  }
  #header-section .navbar .collapse.show-menu {
    display: block !important;
  }
  #header-section .navbar .collapse.hide-menu {
    display: none !important;
  }
  /* =========  Services Section ========= */
  #services-section nav .nav-tabs {
    padding: 15px 0 !important;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #services-section nav .nav-tabs::-webkit-scrollbar {
    height: 07px;
  }
  #services-section nav .nav-tabs::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 10px;
    overflow: hidden;
  }
  #services-section nav .nav-tabs::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }
  #services-section nav .nav-tabs button {
    background: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 !important;
    margin: 0 30px;
    font-family: 'poligon-regular';
  }
  #services-section nav .nav-tabs button.active {
    background: #ffffff;
    font-family: 'poligon-bold';
    color: #21243d;
  }
  #services-section nav .nav-tabs button.active::after {
    width: 0;
  }
  #services-section nav .nav-tabs button.active img {
    -webkit-filter: invert(0%) sepia(6%) saturate(7475%) hue-rotate(285deg) brightness(103%) contrast(106%);
            filter: invert(0%) sepia(6%) saturate(7475%) hue-rotate(285deg) brightness(103%) contrast(106%);
  }
  /* =========  Testimonial Section ========= */
  #testimonial-section .swiper-slide {
    background-color: #ffffff;
  }
  #testimonial-section .swiper-slide .testimonial-box {
    width: 90% !important;
    padding: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /* ======= Newsletter Section ======= */
  #newsletter-section .bg {
    padding: 20px;
    border-radius: 20px;
    background-position: left;
  }
  #newsletter-section .right-side form {
    background-color: transparent !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: visible;
  }
  #newsletter-section .right-side form input {
    background-color: #ffffff;
    padding: 10px 30px !important;
    width: 100%;
    border-radius: 23px;
  }
  #newsletter-section .right-side form button {
    width: 100%;
    margin-top: 10px;
    background: #f9f9f9;
    color: #21243d;
  }
}

@media only screen and (max-width: 575px) {
  /* =========  Reuseable ========= */
  .container {
    padding: 0 30px !important;
  }
  .after-heading {
    font-size: 18px;
  }
  .heading,
  .big-heading {
    font-size: 30px;
  }
  /* =========  Partner Section ========= */
  #partner-section {
    padding: 20px 0;
  }
  /* =========  Testimonial Section ========= */
  #testimonial-section {
    padding-top: 50px;
  }
}

/* ======= Responsive For 1600px+ Device ======= */
@media only screen and (min-width: 1600px) {
  /* =========  Reuseable ========= */
  .after-heading {
    font-size: 30px;
  }
  .big-heading {
    font-size: 60px;
  }
  .heading {
    font-size: 50px;
  }
  .para-text {
    font-size: 22px;
  }
  .button {
    font-size: 20px;
  }
  /* =========  Header Section ========= */
  #header-section .navbar .navbar-brand {
    font-size: 40px;
  }
  #header-section .navbar .nav-item .nav-link {
    font-size: 20px;
  }
  /* ======= Testimonial Section ======= */
  #testimonial-section .testimonial-box .client-info .name {
    font-size: 22px;
  }
  #testimonial-section .testimonial-box .client-info .profession-and-city {
    font-size: 20px;
  }
  /* =========  Newsletter Section ========= */
  #newsletter-section .bg {
    padding: 70px;
    border-radius: 35px;
  }
  #newsletter-section .right-side form input {
    font-size: 20px;
  }
  /* ======= Footer Section ======= */
  #footer-section .footer-widget .footer-logo {
    font-size: 40px;
  }
}
/*# sourceMappingURL=responsive.css.map */