@media only screen and (max-width: 991px) {
  /* =========  Header Section ========= */
  #header-section {
    .navbar-toggler {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50% !important;
      padding: 0 !important;
      background-color: #a37fdb;
      .fa-bars {
        color: #ffffff;
      }
    }
    .navbar {
      .collapse {
        display: none !important;
        overflow: hidden;
        background-color: #ffffff;
        z-index: 9999999999999999999999 !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 30px !important;
        transform: 0.5s;
        transform: translateY(-50px);
        .hide-menu {
          width: 30px;
          height: 30px;
          line-height: 31px;
          text-align: center;
          border-radius: 50% !important;
          padding: 0 !important;
        }
        .navbar-nav {
          margin-top: 30px !important;
          .nav-item {
            margin: 0 10px;
            .nav-link {
              &::after {
                height: 0;
              }
            }
          }
        }
        .navbar-button {
          .button {
            margin-top: 10px;
          }
        }
        &.show-menu {
          display: block !important;
        }
        &.hide-menu {
          display: none !important;
        }
      }
    }
  }
  /* =========  Services Section ========= */
  #services-section {
    nav {
      .nav-tabs {
        padding: 15px 0 !important;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
          height: 07px;
        }
        &::-webkit-scrollbar-track {
          background: #e9e9e9;
          border-radius: 10px;
          overflow: hidden;
        }
        &::-webkit-scrollbar-thumb {
          background: #c1c1c1;
          border-radius: 10px;
        }
        button {
          background: #ffffff;
          box-shadow: none;
          padding: 0 !important;
          margin: 0 30px;
          font-family: 'poligon-regular';
          &.active {
            background: #ffffff;
            font-family: 'poligon-bold';
            color: #21243d;
            &::after {
              width: 0;
            }
            img {
              filter: invert(0%) sepia(6%) saturate(7475%) hue-rotate(285deg)
                brightness(103%) contrast(106%);
            }
          }
        }
      }
    }
  }
  /* =========  Testimonial Section ========= */
  #testimonial-section {
    .swiper-slide {
      background-color: #ffffff;
      .testimonial-box {
        width: 90% !important;
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  /* ======= Newsletter Section ======= */
  #newsletter-section {
    .bg {
      padding: 20px;
      border-radius: 20px;
      background-position: left;
    }
    .right-side {
      form {
        background-color: transparent !important;
        box-shadow: none;
        overflow: visible;
        input {
          background-color: #ffffff;
          padding: 10px 30px !important;
          width: 100%;
          border-radius: 23px;
        }
        button {
          width: 100%;
          margin-top: 10px;
          background: #f9f9f9;
          color: #21243d;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  /* =========  Reuseable ========= */
  .container {
    padding: 0 30px !important;
  }
  .after-heading {
    font-size: 18px;
  }
  .heading,
  .big-heading {
    font-size: 30px;
  }
  /* =========  Partner Section ========= */
  #partner-section {
    padding: 20px 0;
  }
  /* =========  Testimonial Section ========= */
  #testimonial-section {
    padding-top: 50px;
  }
}
